@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-neutral-900 bg-[#FAF9F6] selection:bg-neutral-900 selection:text-[#FAF9F6];
  }
}

.reveal-on-scroll {
  transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 1.5s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #FAF9F6;
}
::-webkit-scrollbar-thumb {
    background: #111;
}
